@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@900&display=swap');
:root {
    --main-font-color: #4e4e4e;
    --primary-color-1: #ff6334;
    --primary-color-1-light: #fdaa8f;
    --primary-color-2: #4d9699;
    --secondary-color-1: #fbc11a;
    --secondary-color-2: #5f6c11;
    --background-color-1: rgb(245, 245, 245);
    --background-color-2: rgb(250, 250, 250);
    --input-border-color: #b1b1b1;
    --submit-color: rgb(231, 1, 1);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;

  }
     ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;

  }
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html {
    scroll-behavior: smooth;

}
*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
    color: var(--main-font-color);
    line-height: 1;
    font-size: 16px;
    background-color: var(--background-color-1);
    visibility: hidden;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Navbar */

#navbar .navbar-container {
    position: fixed;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    top: 30%;
    left: 0;
    background: var(--background-color-1);
    transform: translateX(-1000px);
    transition: transform 200ms;
    z-index: 10;
}

#navbar li {
    padding: 1.5rem 1rem;
    transition: color 200ms;
}

#navbar ul {
    padding: 0;
}

#navbar .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar li:hover {
    color: var(--primary-color-1);
}

#navbar img {
    padding-top: 0;
    margin-left: 10px;
}

/* Showcase */

#showcase .showcase-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

#showcase .header-span {
    font-size: 20rem;
    color: var(--primary-color-1);
}

#showcase .showcase-title {
    opacity: 0;
}

#showcase .web-dev-header {
    opacity: 0;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
}

#showcase .showcase-info {
    display: flex;
    width: 100%;
    height: 50%;
}

#showcase .showcase-info h1 {
    font-size: 10rem;
    line-height: 0.5;
    z-index: 10;
}

#showcase .showcase-info h2.showcase-sentence {
    font-size: 2rem;
    margin: 10px 0;
}

#showcase .showcase-info a {
    display: block;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    background-color: var(--primary-color-2);
    border-style: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin-top: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    transition: box-shadow 200ms;
}

#showcase .showcase-info a:hover {
    box-shadow: 1.5px 1px 10px var(--primary-color-2);
    cursor: pointer;
}

#showcase .showcase-picture {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Showcase Assets (clouds and snowballs) */

#showcase .cloud-1 {
    position: absolute;
    top: 5%;
    right: 20%;
    z-index: 1;
}
#showcase .cloud-2 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 1;
}
#showcase .cloud-3 {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
}

#showcase .snowball-1 {
    position: absolute;
    top: -10%; 
    left: 10%;
}
#showcase .snowball-2 {
    position: absolute;
    top: -10%; 
    left: 25%;    
}
#showcase .snowball-3 {
    position: absolute;
    top: -10%; 
    left: 40%;    
}
#showcase .snowball-4 {
    position: absolute;
    top: -10%; 
    left: 70%;    
}
#showcase .snowball-5 {
    position: absolute;
    top: -10%; 
    left: 80%;    
}

/* What I Do */

#what {
    position: relative;
    overflow: hidden;
}

#what .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto ;
    height: 100vh;
    align-items: center;
}

#what .about-me {
    padding: 2rem;
}

#what h2 {
    font-size: 3rem;
    position: relative;
}

#what h2:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: -15px; 
    left: 0;
    margin: 0 auto;
    width: 110px;
    background: var(--primary-color-1);

}

#what p {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

#what .about-me-image .img-lg {
    height: 400px;
    width: auto;
    align-self: flex-end;
    margin-left: 100px;
}

#what .about-me-image .img-sm {
    display: none;
}

/* Projects */

#projects {
    position: relative;
}

#projects .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 10px;
}

#projects h2 {
    font-size: 3rem;
    position: relative;
    text-align: right;
}

#projects h2:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: -15px; 
    margin: 0 auto;
    right: 0;
    width: 175px;
    background: var(--primary-color-1);

}
#projects .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 100px;
}

#projects .grid-container .item img{
    height: 200px;
    width: 100%;
}

/* Image Hover Overlay */

#projects .item {
    position: relative;
    margin: 0 1rem;
    width: 350px;
    overflow: hidden;
    transition: transform 500ms;
    border-radius: 10px;
  }
  
  #projects .project-image {
    height: 200px;
    width: 100%;
    transition: all 0.5s;
  }

  #projects .grid-container .text .link-container {
      margin-top: 15px;
  }

  #projects .grid-container .text .link-container > *{
    margin: 0 0.5rem;
  }

  #projects .grid-container .text i:hover {
    color: var(--primary-color-1-light);
  }
  
  #projects .item:hover .project-image {
    transform: scale(1.1);
    filter: blur(2px);
  }
  
  #projects .item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary-color-2);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 500ms;
  }
  
  #projects .item:hover:after {
      transform: translateX(0) translateY(0)
  }
  
  #projects .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    text-align: center;
      transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 300ms;
  }
  
  #projects .text:hover {
    opacity: 1;
  }

  #projects .item button {
    display: block;
    width: 30%;
    margin: 0 auto;
    outline: 0;
    border-style: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--primary-color-1);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms;
  }

  #projects .item button:active {
      transform: translateY(3px);
  }

  #projects .item button:hover{
    box-shadow: 1.5px 1px 6px var(--primary-color-1);
  }

   h3 {
    text-decoration: underline;
    text-decoration-color: var(--primary-color-1);
  }

/* Modal Overlay */

.modal {
    position: fixed;
    display: none;
    overflow: scroll;
    top: 0;
    left: 5%;
    height: 90vh;
    width: 90%;
    background: var(--background-color-1);
    border-radius: 10px;
    padding: 2.5rem;
    z-index: 500;
    animation: slide 0.5s forwards;
  }

  .modal p a {
    color: var(--primary-color-2);
  }

  .modal h3 {
      font-size: 1.5rem;
      text-decoration: underline;
      text-decoration-color: var(--primary-color-1);
  }

  .modal p {
      line-height: 1.5;
  }

  .modal li {
      list-style-type: square;
      margin: 1rem;
      line-height: 1.3;
  }

  .modal .tech-items .tech-item {
      display: block;
      border: 1px solid var(--primary-color-2);
      color: var(--primary-color-2);
      padding: 1rem;
      margin: 0 1rem;
      border-radius: 5px;
  }

  .modal .modal-links {
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }

  .modal .modal-links a {
      margin: 0 10px 0 10px;
      transition: color 200ms;
  }
  .modal .modal-links a:hover {
    color: var(--primary-color-1);
}
  
  .overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 400;
  }
  .modal-close {
    position: absolute;
    top: 1%;
    right: 1%;
    color: var(--main-font-color);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--main-font-color);
    border-radius: 100px;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
  
  .flex-wrapper {
    display: flex;
  }
  
  .modal .content-1 {
    flex: 3;
    margin-right: 100px;
    width: 50%;
  }
  .modal .content-2 {
    display:flex;   
    flex-direction: column;
    justify-content: center;
    /* margin-left: 100px; */
    flex: 2;
  }

  #projects .modal .content-2 img {
      height: auto;
      width: 100%;
      margin: 10px;
  }
  
  .tech-items {
    display: flex;
    justify-content: flex-start;
  }
  
  .tech-items p {
    margin: 0 1rem;
    border: 1px solid black;
    padding: 1rem;
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
    }
      100% { 
        opacity: 1;
        top: 5%; 
    }
  }

  /* Contact */

#contact {
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
}

#contact h2 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    margin: 50px;
}

#contact h2:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: -15px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 300px;
    background: var(--primary-color-1);

}

#contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 0 auto ;
}

#contact .form-container {
    height: 100%;
    width: 50%;
    padding: 2rem;  
    background: var(--primary-color-1);
    border-radius: 10px;
}

#contact form {
   background: #fff;
   padding: 2rem;
}

#contact .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px
}

#contact .form-control label {
    margin: 10px 0;
    display: block;
}

#contact .form-control input, textarea {
    padding: 0.5rem;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    outline: 0;
    width: 100%;    
}

#contact .form input[type=submit] {
    display: block;
    width: 30%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--submit-color);
    color: #fff;
    transition: box-shadow 200ms;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 1px;
}

#contact .form input[type=submit]:hover {
    box-shadow: 1px 1px 10px var(--primary-color-1);
}

#contact .citrus-1 {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: -1;
}
#contact .citrus-2 {
    position: absolute;
    bottom: 20%;
    right: 15%;
    z-index: -1;

}
#contact .citrus-3 {
    position: absolute;
    bottom: 5%;
    right: 10%;
    z-index: -1;

}

/* Footer */

#footer {
    height: 100px;
    background: var(--main-font-color);
    color: #fff;
    overflow: hidden;
}

#footer h2 {
    font-size: 2rem;
}

#footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#footer a {
    margin: 0 0.5rem;
    transition: color 200ms;
}

#footer a:hover {
    color: var(--primary-color-1);
}

/* Responsiveness */

@media (max-width: 800px){
    /* Navbar */
    #navbar .navbar-container {
        bottom: 0;
        right: 0;
        left: 0;
        top: 90%;
    }
    #navbar .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    /* Showcase */
    #showcase .showcase-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
    }
    
    #showcase .header-span {
        font-size: 10rem;
        color: var(--primary-color-1);
    }
    
    #showcase .showcase-info h1 {
        font-size: 8rem;
        line-height: 1;
        text-align: center;
        z-index: 10;
    }
    
    #showcase .showcase-info h2.showcase-sentence {
        font-size: 2rem;
        margin: 10px 0;
    }
    
    #showcase .showcase-picture {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 10;
    }

    #showcase .cloud-1 {
        height: 15%;
    }
    #showcase .cloud-2 {
        height: 15%;
        bottom: 25%;
    }
    #showcase .cloud-3 {
        display: none;
    }

    /* About Me */
    #what .container {
        height: 100vh;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    #what .about-me {
        padding: 2rem;
    }
    #what .about-me-image .img-lg {
        display: none;
    }
    #what .about-me-image .img-sm {
        display: block;
    }

    #what h2 {
        font-size: 3rem;
        text-align: center;
        position: relative;
        margin: 50px;
    }
    
    #what h2:after {
        position: absolute;
        content: '';
        height: 5px;
        bottom: -15px; 
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100px;
        background: var(--primary-color-1);
    
    }
    /* Projects */
    #projects .container {
        margin-bottom: 300px;
    }
    
    #projects h2 {
        font-size: 3rem;
        text-align: center;
        position: relative;
        margin: 50px;
    }
    
    #projects h2:after {
        position: absolute;
        content: '';
        height: 5px;
        bottom: -15px; 
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 200px;
        background: var(--primary-color-1);
    
    }
    
    #projects .grid-container {
        display: grid;
        justify-items: center;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
        height: 100%;
    }
    
    #projects .grid-container .item img{
        height: auto;
        width: 100%;
    }

    #projects .modal .content-2 img  {
        height: 200px;
        width: auto;
    }

    
    /* Contact */

    
    #contact .form-container {
        width: 90%;
        padding: 1rem;  
        background: var(--primary-color-1);
        border-radius: 10px;
    }

    #contact .form input[type=submit] {
        width: 50%;
    }

    /* Footer */
    #footer {
        height: 150px;
    }
    #footer .container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.25rem;
    }
    .modal {
        overflow: scroll;
        border-radius: 0;
    }
    .modal .flex-wrapper {
        flex-direction: column;
      }
    .modal .content-1 {
    flex: 1;
    width: 100%;
    }
    .modal .content-2 {
    display:flex;   
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    flex: 1;
    }
}

@media (max-width: 500px){
    #navbar .navbar-container {
        top: 0;
        bottom: 90%;
        width: 100%;
    }

    /* #navbar .navbar-links img {
        display: none;
    } */

    #showcase .header-span {
        font-size: 6rem;
        color: var(--primary-color-1);
    }
    
    #showcase .showcase-info h1 {
        font-size: 5rem;
        line-height: 1;
        text-align: center;
        z-index: 10;
    }
    
    #showcase .web-dev-header {
        margin: 0;
        font-size: 3rem;
    }

    #what .about-me-image .img-sm {
        display: block;
    }

    #what p {
        text-align: justify;
    }

    #projects .modal .content-2 img  {
        height: 100px;
        width: auto;
    }
    
    .modal .tech-items {
        flex-wrap: wrap;
    }
    .modal .tech-items .tech-item{
        margin-top: 10px;
    }
    .modal .content-1 p {
        text-align: justify;
    }
    .modal .content-2 img{
        height: 100px;
    }
}